.sidepanel {
    position: fixed;
    top: 226px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 338px;
    z-index: 3;

    &__link {
        &:hover {
            opacity: 0.5;
        }
    }

    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000;
    }

    &__text {
        height: 150px;
        width: 25px;
        font-weight: 700;
        line-height: normal;



        span {
            display: block;
            transform: rotate(-90deg) translate(-35%, -260%);
            width: 150px;

        }
    }

}